/* The main scrollbar **track** CSS class  */
.ImageList {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color:transparent;
    //-fx-background-color: linear-gradient(#333 0%, #000 20%, #000 80%, #333 100%);
}

.ImageList:focused {
    -fx-background-insets: 0;
}

.ImageList .corner {
    -fx-background-insets: 0;
}

.ImageList .viewport {
    -fx-background-insets: 0;
    -fx-background-color: linear-gradient(#333 0%, #000 20%, #000 80%, #333 100%);
}

.ImageList .scroll-bar:horizontal .track,
.ImageList .scroll-bar:vertical .track{
	-fx-background-color:#333;
	-fx-border-color:#555;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
        
}

/* The increment and decrement button CSS class of scrollbar */
.ImageList .scroll-bar:horizontal .increment-button ,
.ImageList .scroll-bar:horizontal .decrement-button {
    -fx-background-color:#000;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.ImageList .scroll-bar:vertical .increment-button ,
.ImageList .scroll-bar:vertical .decrement-button {

    -fx-background-color:#000;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.ImageList  .scroll-bar .increment-arrow,
.ImageList  .scroll-bar .decrement-arrow 
 {
	-fx-shape: " ";	
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.ImageList .scroll-bar:horizontal .thumb,
.ImageList .scroll-bar:vertical .thumb {
    -fx-background-color:#000;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}