.appnamez {
    -fx-font-weight:bold; 
    -fx-font-size: 16px;
    -fx-text-fill: #ddd;
}

.header_z Label {
    -fx-text-fill: #fff;
    -fx-background-color: #000;
}

.header_z Button {
    -fx-padding: 0px;
    -fx-background-color: #000;
    -fx-background-insets: 0, 0, 0, 0;
}

.header_z Button:hover {
    -fx-padding: 0px;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.border_a {
    -fx-padding: 16px;
    -fx-background-color: transparent;
    //-fx-background-radius: 6;
}

.border_z {
    -fx-background-color: #000;
    -fx-padding: 3px 3px 3px 3px;
    //-fx-background-radius: 6;
    //-fx-background-insets: 12;
}