.progress-bar {
    -fx-indeterminate-bar-length: 90;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 1;
    -fx-background-color: #fff;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-radius: 0;
    -fx-border-width: 1px;
    -fx-border-color: #aaa;
    -fx-pref-height: 48px;
    -fx-max-height: 48px;
    -fx-min-height: 48px;
    -fx-pref-width: 9999px;
    -fx-max-width: 9999px;
    -fx-min-width: 1px;
}

.progress-bar > .bar {
    -fx-background-color: #77D;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.75em;
}

.progress-bar:indeterminate > .bar {
    -fx-background-color: #77D;
}

.progress-bar > .track {
    -fx-background-color: #FFF;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}