
.main_window_max_width {
	-fx-pref-width: 9999px;
	-fx-max-width: 9999px;
	-fx-min-width: 1px;
}

.main_window_max_height, .panel_max_height {
	-fx-pref-height: 9999px;
	-fx-max-height: 9999px;
	-fx-min-height: 1px;
}

.main_window_hseparator_height {
	-fx-pref-height: 24px;
	-fx-max-height: 24px;
	-fx-min-height: 24px;
}

.main_window_null_pane, .panel_null_pane {
	-fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-padding: 0;
}

.main_window_messagebox {
	-fx-spacing: 20px;
	-fx-background-color: #fff;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-padding: 15px;
}

.main_window_messagebox_text {
	-fx-background-color: #fff;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-padding: 12px;
	-fx-font-size: 14px;
    -fx-text-fill: #333;
	-fx-font-family: "Linux Biolinum Bold";
    -fx-font-weight:bold; 
}

.main_window_messagebox_button {
	-fx-background-color: #ddd;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 1px;
	-fx-border-color: #aaa;
    -fx-border-insets: 0;
	-fx-padding: 6px 19px 6px 19px;
	-fx-font-size: 18px;
    -fx-text-fill: #000;
	-fx-font-family: "Linux Biolinum Bold";
    -fx-font-weight:bold; 
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 12, 0, 0, 0);
}

.main_window_vseparator {
	-fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 1px 0 0 0;
	-fx-border-color: #aaa;
    -fx-border-insets: 8px 0 0 0;
	-fx-padding: 0px;
}

.main_window_messagebox_button:hover {
	-fx-effect: dropshadow(three-pass-box, rgba(200,255,0,0.8), 12, 0, 0, 0);
	-fx-background-color: #FFF;
}

.main_window_yesnobox_btn_space {
	-fx-spacing: 15px;
}

.main_window_separator_1 {
	-fx-spacing: 0px;
}

.main_window_shadow_menu_box {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 12, 0, 0, 0);
}

.main_window_menu_block {
	-fx-padding: 0px 0 0 0px;
	-fx-background-color: #eee;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0px;
	-fx-border-radius: 0 0 0 0px;
	-fx-border-width: 0px 0 0 6px;
    -fx-border-insets: 0px 0 0 6px;
	-fx-border-color: #eee;
}

.main_window_appbox_pane {
	-fx-background-color: #fff;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 6px 0 0px 0px;
    -fx-border-insets: 6px 0 0px 0px;
	-fx-border-color: #fff;
	-fx-padding: 0;
}

.main_window_menu_block_width {
	-fx-pref-width: 255px;
	-fx-max-width: 255px;
	-fx-min-width: 255px;
}

.main_window_toolbox_height {
	-fx-pref-height: 76px;
	-fx-max-height: 76px;
	-fx-min-height: 76px;
}

.main_window_paginator_height {
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
	-fx-min-height: 32px;
}

.main_window_root_container {
	-fx-background-color: #FFF;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-padding: 0;
}

.main_window_toolbox_container {
	-fx-background-color: #fff;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 6px 0px;
    -fx-border-insets: 0px 0 6px 0px;;
	-fx-border-color: #fff;
	-fx-padding: 0 60px 0 0px;
}

.main_window_paginator_container {
	-fx-background-color: #eee;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-padding: 0 8px 0 8px;
}

.xxPagination {
	-fx-page-information-visible: false;
	-fx-tooltip-visible: false;
	-fx-max-page-indicator-count: 100;
}
 
.xxPagination .toggle-button, .xxPagination .button {
	-fx-padding: 4px 2px 4px 2px;
    -fx-font-size: 10px;
    -fx-text-fill: #000;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0; 
	-fx-border-width:0px;
    -fx-border-insets:0;
}

.xxPagination .toggle-button {
	-fx-background-color:#ddd;
}

.xxPagination .button, .xxPagination .toggle-button:selected {
	-fx-background-color:#3d3;
}

.xxPagination .label {
	visibility: hidden;
	-fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-pref-height: 0px;
	-fx-max-height: 0px;
	-fx-min-height: 0px;
}

.xxPagination .toggle-button:hover, .xxPagination .button:hover {
    -fx-background-color: #55ff55;
    -fx-text-fill: #000;
}

.xxPagination .pagination-control, .xxPagination, .xxPagination .page, .xxPagination .control-box {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-color: transparent;
    -fx-padding:2px;
    -fx-border-width:0px;
    -fx-border-insets:0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;    
}

.xxPagination .control-box {
	-fx-padding: 0;
}
 
.xxPagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: #FFF;
	-fx-text-fill: #000;
}


.tags_list_bottom_panel {
	-fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-padding: 0 0 0 12px;
	-fx-font-size: 12px;
    -fx-text-fill: #333;
}

.dialog_db_element_icon {
	-fx-icon-size: 40px;
	-fx-icon-code: "Material Icons:E1C2";
    -fx-fill: #777;
}

.dialog_db_select_icon {
	-fx-icon-size: 40px;
	-fx-icon-code: "Material Icons:E154";
}

.dialog_db_font {
	-fx-font-size: 16px;
    -fx-text-fill: #000;
	-fx-font-family: "Linux Biolinum Bold";
}

.panel_icon_color {
	-fx-fill: #000;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 0);
}

.panel_icon_color:hover {
	-fx-fill: #FFFF00;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 9, 0, 0, 0);
}

.panel_button_width {
	-fx-pref-width: 64px;
	-fx-max-width: 64px;
	-fx-min-width: 64px;
}

.dialog_db_element_height {
	-fx-pref-height: 48px;
	-fx-max-height: 48px;
	-fx-min-height: 48px;
}

.dialog_db_element_root_pane_selected {
	-fx-background-color: #eee;
}

.dialog_db_element_root_pane_non_selected {
	-fx-background-color: #fff;
}

.dialog_db_element_root_pane {
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 1px 0;
    -fx-border-insets: 0px 0 0 0;
	-fx-padding: 0;
	-fx-border-color: #ddd;
}

.main_window_sp1, 
.main_window_sp1:focused, 
.main_window_sp1 .corner,
.main_window_sp1 .viewport {
	-fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-padding: 0;
	-fx-font-size: 12px;
    -fx-text-fill: #333;
	-fx-font-family: "Linux Biolinum Bold";
}


.main_window_sp1 .scroll-bar:horizontal .track,
.main_window_sp1 .scroll-bar:vertical .track {
    -fx-background-color:#fff;
    -fx-border-color:#fff;
    -fx-background-radius: 0em;
    -fx-border-radius:0em;
}

.main_window_sp1 .scroll-bar:horizontal .increment-button ,
.main_window_sp1 .scroll-bar:horizontal .decrement-button {
    -fx-background-color:#fff;
    -fx-background-radius: 0;
    -fx-padding:0 0 10 0;
}

.main_window_sp1 .scroll-bar:vertical .increment-button ,
.main_window_sp1 .scroll-bar:vertical .decrement-button {
    -fx-background-color:#fff;
    -fx-background-radius: 0;
    -fx-padding:0 10 0 0;
}

.main_window_sp1 .scroll-bar .increment-arrow,
.main_window_sp1 .scroll-bar .decrement-arrow {
    -fx-shape: " ";	
    -fx-padding:0;
}

.main_window_sp1 .scroll-bar:horizontal .thumb,
.main_window_sp1 .scroll-bar:vertical .thumb {
    -fx-background-color:#ccc;
    -fx-background-insets: 0;/* 2 2 2 2, 0, 0;*/
    -fx-background-radius: 0;
}

.main_window_labeled_box_text {
	-fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-padding: 4px;
	-fx-font-size: 12px;
    -fx-text-fill: #333;
	-fx-font-family: "Linux Biolinum Bold";
    -fx-font-weight:bold; 
	-fx-pref-height: 24px;
	-fx-max-height: 24px;
	-fx-min-height: 24px;
	-fx-pref-width: 255px;
	-fx-max-width: 255px;
	-fx-min-width: 255px;
}

.main_window_labeled_box_pane {
	-fx-pref-height: 24px;
	-fx-max-height: 24px;
	-fx-min-height: 24px;
	-fx-spacing: 10px;
}

.main_window_badly_input {
	-fx-background-color: #FBB;
}

.main_window_good_input {
	-fx-background-color: #BFB;
}

.main_window_text_ntf {
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-padding: 4px;
	-fx-font-size: 14px;
    -fx-text-fill: #000;
	-fx-font-family: "Linux Biolinum Bold";
    -fx-font-weight:bold;
}

.main_window_new_db_root_pane {
	-fx-background-color: #fff;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-padding: 12px;
	-fx-spacing: 4px;
}

.new_album_textarera, 
.new_album_textarera:focused, 
.new_album_textarera .corner,
.new_album_textarera .viewport {
	-fx-background-color: #fff;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0px;
	-fx-border-width: 1px;
    -fx-border-insets: 0;
	-fx-padding: 0;
	-fx-font-size: 12px;
    -fx-text-fill: #333;
	-fx-font-family: "Linux Biolinum Bold";
	-fx-border-color: #aaa;
}


.new_album_textarera .scroll-bar:horizontal .track,
.new_album_textarera .scroll-bar:vertical .track {
    -fx-background-color:#fff;
    -fx-border-color:#fff;
    -fx-background-radius: 0em;
    -fx-border-radius:0em;
}

.new_album_textarera .scroll-bar:horizontal .increment-button ,
.new_album_textarera .scroll-bar:horizontal .decrement-button {
    -fx-background-color:#fff;
    -fx-background-radius: 0;
    -fx-padding:0 0 10 0;
}

.new_album_textarera .scroll-bar:vertical .increment-button ,
.new_album_textarera .scroll-bar:vertical .decrement-button {
    -fx-background-color:#fff;
    -fx-background-radius: 0;
    -fx-padding:0 10 0 0;
}

.new_album_textarera  .scroll-bar .increment-arrow,
.new_album_textarera  .scroll-bar .decrement-arrow {
    -fx-shape: " ";	
    -fx-padding:0;
}

.new_album_textarera .scroll-bar:horizontal .thumb,
.new_album_textarera .scroll-bar:vertical .thumb {
    -fx-background-color:#ccc;
    -fx-background-insets: 0;/* 2 2 2 2, 0, 0;*/
    -fx-background-radius: 0;
}

.new_album_textarera_height {
	-fx-pref-height: 88px;
	-fx-max-height: 88px;
	-fx-min-height: 88px;
}

.new_album_textfield {
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 1px;
    -fx-border-insets: 0;
	-fx-padding: 4px;
	-fx-font-size: 14px;
    -fx-text-fill: #000;
	-fx-font-family: "Linux Biolinum Bold";
    -fx-font-weight:bold;
	-fx-border-color: #aaa;
}

.main_window_labeled_box_filename_in_dialog {
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
	-fx-min-height: 32px;
	-fx-spacing: 10px;
}



























