
.menu_max_width {
	-fx-pref-width: 9999px;
	-fx-max-width: 9999px;
	-fx-min-width: 1px;
}

.menu_max_height {
	-fx-pref-height: 9999px;
	-fx-max-height: 9999px;
	-fx-min-height: 1px;
}

.menu_element_height {
	-fx-pref-height: 32px;
	-fx-min-height: 32px;
	-fx-max-height: 32px;
}

.menu_separator {
	-fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-padding: 0;
	-fx-pref-height: 6px;
	-fx-min-height: 6px;
	-fx-max-height: 6px;
}

.menu_null_container {
	-fx-spacing: 6px;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-border-color: #bbb;
}

.menu_group_header {
    -fx-padding: 4px 4px 4px 0px;
    -fx-background-color: transparent;
	-fx-font-family: "Linux Biolinum Bold";
    -fx-font-weight:bold; 
    -fx-font-size: 14px;
    -fx-text-fill: #FFF;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 1px 0;
    -fx-border-insets: 0;
	-fx-border-color: #bbb;
}

.menu_group_container {
    -fx-padding: 0 0 0px 4px;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px;
    -fx-border-insets: 0;
	-fx-border-color: transparent;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 11, 0, 0, 0);
}

.menu_group_container_red {
	-fx-background-color: #CC5555;
}

.menu_group_container_green {
	-fx-background-color: #55CC55;
}

.menu_item {
    -fx-padding: 4px 4px 4px 4px;
    -fx-background-color: #FFF;
    -fx-font-size: 12px;
    -fx-text-fill: #000;
	-fx-font-family: "Linux Biolinum Bold";
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 1px 0;
    -fx-border-insets: 0;
	-fx-border-color: #ddd;
}

.menu_item:hover {
	-fx-background-color: #DDDDDD;
}

.menu_item_icon {
	-fx-icon-size: 32px;
	-fx-icon-code: "Material Icons:E315";
	-fx-fill: gray;
}

.menu_item_selected {
	-fx-background-color: #ddd;
}

.header_icon_images {
	-fx-icon-size: 32px;
	-fx-icon-code: "Material Icons:E432";
	-fx-fill: #FFF;
}

.header_icon_settings {
	-fx-icon-size: 32px;
	-fx-icon-code: "Material Icons:E8B8";
	-fx-fill: #FFF;
}

.menu_app_logo {
	-fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 0px 0 0 0px;
    -fx-border-insets: 0;
	-fx-padding: 0;
	-fx-pref-height: 64px;
	-fx-min-height: 64px;
	-fx-max-height: 64px;
}

.menu_root {
	-fx-background-color: #fff;
    -fx-background-radius: 0px;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width: 1px;
	-fx-border-color: #aaa;
    -fx-border-insets: 0;
	-fx-padding: 0px;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 12, 0, 0, 0);
}

.context_menu_item, .context_menu_item_bold {
	-fx-font-size: 14px;
    -fx-text-fill: #000;
	-fx-font-family: "Linux Biolinum";
	-fx-padding: 8px;
	-fx-background-color: #fff;
}

.context_menu_item:hover, .context_menu_item_bold:hover {
	-fx-background-color: #ddd;
	-fx-text-fill: #000;
}





































