.GUITools_imageName {
    -fx-font-weight:bold; 
    -fx-font-size: 14px;
    -fx-text-fill: #aaa;
}

.GUITools_header_z Label {
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
}

.GUITools_header_z Button {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0, 0, 0;
}

.GUITools_header_z Button:hover {
    -fx-padding: 1px 0 0 1px;
    /*-fx-background-color: #fff;*/
    -fx-text-fill: #000;
}

/*.GUITools_root3m {
    -fx-padding: 1px;
    -fx-background-color: #333;
}*/

.GUITools_root2m {
    -fx-background-color: #000;
    -fx-padding: 3px 3px 0px 3px;
}

.GUITools_root2m_box {
    -fx-background-color: #333;
    -fx-padding: 3px 3px 0px 3px;
	-fx-border-color: #F00;
	-fx-border-width: 3px;
	
}

.JNekoImageDB_taLOG {
    -fx-padding:12;
}

.JNekoImageDB_taLOG, .JNekoImageDB_taLOG .viewport, .JNekoImageDB_taLOG .scroll-pane {
    -fx-background-color:#222;
    -fx-text-fill: #fff;
    -fx-font-size: 11px;
    -fx-border-radius: 4;
}

.JNekoImageDB_taLOG .content {
    -fx-background-color:#222;
    -fx-text-fill: #fff;
    -fx-font-size: 11px;
}

.JNekoImageDB_taLOG .scroll-bar:horizontal .track,
.JNekoImageDB_taLOG .scroll-bar:vertical .track {
    -fx-background-color:#222;
    -fx-border-color:#555;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.JNekoImageDB_taLOG .scroll-bar:horizontal .increment-button ,
.JNekoImageDB_taLOG .scroll-bar:horizontal .decrement-button {
    -fx-background-color:#000;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.JNekoImageDB_taLOG .scroll-bar:vertical .increment-button ,
.JNekoImageDB_taLOG .scroll-bar:vertical .decrement-button {
    -fx-background-color:#000;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.JNekoImageDB_taLOG  .scroll-bar .increment-arrow,
.JNekoImageDB_taLOG  .scroll-bar .decrement-arrow {
    -fx-shape: " ";	
    -fx-padding:0;
}

.JNekoImageDB_taLOG .scroll-bar:horizontal .thumb,
.JNekoImageDB_taLOG .scroll-bar:vertical .thumb {
    -fx-background-color:#000;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.JNekoImageDB_paginator_1 {
    -fx-background-color: #000000;
    -fx-padding: 0 0 0 0px;
    -fx-background-radius: 0;
}

.JNekoImageDB_basesp {
    -fx-background-color: #000;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0px;
}

.JNekoImageDB_headerbox {
    -fx-background-color: #000000;
    -fx-padding: 0px 0px 0 0;
}

.JNekoImageDB_toolbox {
    -fx-background-color: #000000;
    -fx-padding: 3px 0px 0 0;
}

.JNekoImageDB_MenuList {
    -fx-border-width: 0 0 0 2px; 
    -fx-border-color: #000000; 
    -fx-border-style:solid;
    -fx-background-radius: 0;
}

.JNekoImageDB_MenuList .scroll-bar:horizontal .track,
.JNekoImageDB_MenuList .scroll-bar:vertical .track{
    -fx-background-color:#333;
    -fx-border-color:#555;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.JNekoImageDB_MenuList .scroll-bar:horizontal .increment-button ,
.JNekoImageDB_MenuList .scroll-bar:horizontal .decrement-button {
    -fx-background-color:#000;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.JNekoImageDB_MenuList .scroll-bar:vertical .increment-button ,
.JNekoImageDB_MenuList .scroll-bar:vertical .decrement-button {
    -fx-background-color:#000;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.JNekoImageDB_MenuList  .scroll-bar .increment-arrow,
.JNekoImageDB_MenuList  .scroll-bar .decrement-arrow {
    -fx-shape: " ";	
    -fx-padding:0;
}

.JNekoImageDB_MenuList .scroll-bar:horizontal .thumb,
.JNekoImageDB_MenuList .scroll-bar:vertical .thumb {
    -fx-background-color:#000;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}


.DialogWindow_basevbox {
    -fx-padding: 2px;
}

.DialogWindow_headerbox {
    -fx-background-color: transparent;
    -fx-padding: 0px 0px 0 0;
}

.DialogWindow_toolbox {
    -fx-background-color: transparent;
    -fx-padding: 3px 0px 0 0;
}

.DialogYesNoBox_textarea, .DialogYesNoBox_textarea .viewport, .DialogYesNoBox_textarea .content, DialogYesNoBox_textarea .scroll-pane  {
    -fx-padding: 9px;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-background-color: #333;
    -fx-font-weight:bold;
    //-fx-effect: dropshadow(three-pass-box, #222, 4, 0.85, 0, 0);
    -fx-background-radius: 0;
    -fx-border-radius:0;
}

.DialogMTPrevGenProgress_root_pane {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color:transparent;
}

.DialogMTPrevGenProgress_root_pane:focused {
    -fx-background-insets: 0;
}

.DialogMTPrevGenProgress_root_pane .corner {
    -fx-background-insets: 0;
}

.DialogMTPrevGenProgress_root_pane .viewport {
    -fx-background-insets: 0;
    -fx-background-color: linear-gradient(#333 0%, #000 20%, #000 80%, #333 100%);
}

.DialogMTPrevGenProgress_root_pane .scroll-bar:horizontal .track,
.DialogMTPrevGenProgress_root_pane .scroll-bar:vertical .track {
    -fx-background-color:#333;
    -fx-border-color:#555;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.DialogMTPrevGenProgress_root_pane .scroll-bar:horizontal .increment-button ,
.DialogMTPrevGenProgress_root_pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color:#000;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.DialogMTPrevGenProgress_root_pane .scroll-bar:vertical .increment-button ,
.DialogMTPrevGenProgress_root_pane .scroll-bar:vertical .decrement-button {
    -fx-background-color:#000;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.DialogMTPrevGenProgress_root_pane  .scroll-bar .increment-arrow,
.DialogMTPrevGenProgress_root_pane  .scroll-bar .decrement-arrow {
    -fx-shape: " ";	
    -fx-padding:0;
}

.DialogMTPrevGenProgress_root_pane .scroll-bar:horizontal .thumb,
.DialogMTPrevGenProgress_root_pane .scroll-bar:vertical .thumb {
    -fx-background-color:#000;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.DialogMTPrevGenProgress_cVBox, .ProgressElement_middle {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    //-fx-background-color: linear-gradient(#333 0%, #000 20%, #000 80%, #333 100%);
    -fx-background-color: transparent;
}

.ProgressElement_root_pane {
    -fx-padding: 3px;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color: #333;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #777;
}

.ProgressElement_tIDLabel {
    -fx-padding: 0 9px 0 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #aaa;
    -fx-font-size: 14px;
    -fx-font-weight:bold;
}

.ProgressElement_label {
    -fx-padding: 0 0 0 9px;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
    -fx-font-size: 11px;
}

.InfinityList_root_pane .viewport {
    -fx-background-color: #333; // linear-gradient(#333 0%, #000 20%, #000 80%, #333 100%);
}

.InfinityList_root_pane, .InfinityList_bottomT, .InfinityList_bottomDummy, .InfinityList_topDummy, .InfinityList_mainContainer {
    -fx-background-color: transparent;
}

.InfinityList_mainContainer {
    -fx-padding:8px;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
}

.InfinityList_root_pane, .InfinityList_root_pane .viewport, .InfinityList_bottomT, .InfinityList_bottomDummy, .InfinityList_topDummy {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
}

.FileListItem_imageContainer, .FileListItem_imageContainer .viewport, .FileListItem_imageVBox, .FileListItem_selectedIcon, .TopPanel_separator, 
.FileListItem_imageName {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
}

.FileListItem_root_pane {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color: #444;
    //-fx-effect: dropshadow(three-pass-box, #444, 5, 0.80, 0, 0);
}

.FileListItem_root_pane:hover {
    -fx-background-color: #444;
    -fx-effect: dropshadow(three-pass-box, #494, 4, 0.80, 0, 0);
}

.FileListItem_dummyInfoBox {
    -fx-padding: 0 0 0 35px;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
}

.FileListItem_imageName {
    -fx-font-size: 12px;
    -fx-text-fill: #000;
    -fx-effect: dropshadow(three-pass-box, #fff, 6, 0.85, 0, 0);
}

.FileListItem_nullMessage {
    -fx-font-size: 14px;
    -fx-text-fill: #ccc;
    -fx-font-weight:bold;
    -fx-effect: dropshadow(three-pass-box, #444, 12, 0.50, 0, 0);
}

.TopPanel_root_panel {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0px; 
}

.TopPanel_button {
    -fx-padding: 0px;
    -fx-background-color: #333;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-text-fill: #fff;
}

.TopPanel_button:hover {
    -fx-padding: 0px;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.TopPanel_textfield1 {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-text-fill: #fff;
    -fx-font-size: 10px;
    -fx-background-color: #222;
    -fx-effect: dropshadow(three-pass-box, #222, 4, 0.85, 0, 0);
}

.ToolsPanelBottom_root_panel {
    -fx-background-color: #333;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0px 0px 0px 0px; 
}

.ToolsImageViewer_root_pane {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color:transparent;
}

.ToolsImageViewer_root_pane:focused {
    -fx-background-insets: 0;
}

.ToolsImageViewer_root_pane .corner {
    -fx-background-insets: 0;
}

.ToolsImageViewer_root_pane .viewport {
    -fx-background-insets: 0;
    -fx-background-color: linear-gradient(#333 0%, #000 20%, #000 80%, #333 100%);
}

.ToolsImageViewer_root_pane .scroll-bar:horizontal .track,
.ToolsImageViewer_root_pane .scroll-bar:vertical .track {
    -fx-background-color:#333;
    -fx-border-color:#555;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.ToolsImageViewer_root_pane .scroll-bar:horizontal .increment-button ,
.ToolsImageViewer_root_pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color:#000;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.ToolsImageViewer_root_pane .scroll-bar:vertical .increment-button ,
.ToolsImageViewer_root_pane .scroll-bar:vertical .decrement-button {
    -fx-background-color:#000;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.ToolsImageViewer_root_pane  .scroll-bar .increment-arrow,
.ToolsImageViewer_root_pane  .scroll-bar .decrement-arrow {
    -fx-shape: " ";	
    -fx-padding:0;
}

.ToolsImageViewer_root_pane .scroll-bar:horizontal .thumb,
.ToolsImageViewer_root_pane .scroll-bar:vertical .thumb {
    -fx-background-color:#000;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

/**********************************************************************************/
.GUIElements_button {
    -fx-padding: 0px;
    -fx-background-color: #333;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-text-fill: #fff;
}

.GUIElements_button:hover {
    -fx-padding: 0px;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.GUIElements_textfield {
    -fx-padding: 2 2 2 2;
    -fx-background-color:#fff;
    -fx-font-weight:bold; 
    -fx-font-size: 12px;
    -fx-text-fill: #222;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
}

.GUIElements_textfield_valid {
  -fx-background-image:url('/style/icons/selected-16.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: right center;
  -fx-background-color:#9f9;
}

.GUIElements_textfield_error {
  -fx-background-image:url('/style/icons/delete-16.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: right center;
  -fx-background-color:#f99;
}

.GUIElements_STabTextButton_red, .GUIElements_STabTextButton_green, .GUIElements_STabTextButton {
	-fx-padding: 2 10 2 10;
    -fx-font-weight:bold; 
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
}

.GUIElements_STabTextButton {
	-fx-background-color:#333;
}

.GUIElements_STabTextButton_red {
	-fx-background-color:#552222;
}

.GUIElements_STabTextButton_green {
	-fx-background-color:#225522;
}

.GUIElements_STabTextButton_red:hover, .GUIElements_STabTextButton_green:hover, .GUIElements_STabTextButton:hover {
    -fx-padding: 0px;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.GUIElements_SScrollPane {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color:transparent;
}

.GUIElements_SScrollPane:focused {
    -fx-background-insets: 0;
}

.GUIElements_SScrollPane .corner {
    -fx-background-insets: 0;
}

.GUIElements_SScrollPane .viewport {
    -fx-background-insets: 0;
    -fx-background-color: linear-gradient(#333 0%, #000 20%, #000 80%, #333 100%);
}

.GUIElements_SScrollPane .scroll-bar:horizontal .track,
.GUIElements_SScrollPane .scroll-bar:vertical .track {
    -fx-background-color:#333;
    -fx-border-color:#555;
    -fx-background-radius: 0em;
    -fx-border-radius:0em;
}

.GUIElements_SScrollPane .scroll-bar:horizontal .increment-button ,
.GUIElements_SScrollPane .scroll-bar:horizontal .decrement-button {
    -fx-background-color:#000;
    -fx-background-radius: 0;
    -fx-padding:0 0 10 0;
}

.GUIElements_SScrollPane .scroll-bar:vertical .increment-button ,
.GUIElements_SScrollPane .scroll-bar:vertical .decrement-button {
    -fx-background-color:#000;
    -fx-background-radius: 0;
    -fx-padding:0 10 0 0;
}

.GUIElements_SScrollPane  .scroll-bar .increment-arrow,
.GUIElements_SScrollPane  .scroll-bar .decrement-arrow {
    -fx-shape: " ";	
    -fx-padding:0;
}

.GUIElements_SScrollPane .scroll-bar:horizontal .thumb,
.GUIElements_SScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color:#000;
    -fx-background-insets: 0 2 2 2, 0, 0;
    -fx-background-radius: 0;
}

.GUIElements_SVBox, .GUIElements_SHBox {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color:transparent;
}














.TabAlbumImageList_RootPane, .TabAlbumImageList_header, .TabAlbumImageList_container {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color:transparent
}

.AddNewAlbumElement_newTitle {
    -fx-padding: 0 0 0 12;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #ccc;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-underline: false;
}

.AddNewAlbumElement_addBtn {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
}

.AddNewAlbumElement_newItemName {
    -fx-padding: 4px;
    -fx-border-insets: 0;
    -fx-border-color: #777;
    -fx-background-color: #fff;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-width: 1px;
    -fx-text-fill: #000;
    -fx-font-weight:bold; 
    -fx-font-size: 14px;
}

.AddNewAlbumElement_newItemName .viewport {
    -fx-background-insets: 0;
}

.GUIElements_AddNewAlbumElement {
    -fx-background-color: #555;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-width: 0;
    -fx-padding: 6px;
    -fx-border-insets: 0;
}

.TabAlbumImageList_rootPane_line {
    -fx-border-width: 0px 0 0 0;
    -fx-border-color: #555;
	-fx-border-insets: 0;
}

.TabAlbumImageList_albumName {
	-fx-padding: 2 10 2 10;
    -fx-background-color:#444;
	-fx-font-weight:bold; 
    -fx-font-size: 12px;
    -fx-text-fill: #bbb;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
}

.AlbumsListElement_rootPane {
	-fx-background-color: #222;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-padding: 6px;
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #555;
	-fx-border-insets: 0;
}

.AlbumsListElement_rootPane:hover {
    -fx-background-color: #444;
}

.AlbumsListElement_btn {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.AlbumsListElement_titleLabel {
    -fx-padding: 0 0 0 0;
    -fx-background-color:transparent;
    -fx-font-weight:bold; 
    -fx-font-size: 16px;
    -fx-text-fill: #f82;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-underline: false;
    -fx-border-width:0;
}

.AlbumsListElement_title {
    -fx-padding: 0 0 0 0;
    -fx-background-color:#fff;
    -fx-font-weight:bold; 
    -fx-font-size: 14px;
    -fx-text-fill: #000;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-underline: false;
    -fx-border-width:0;
}

.GUIElements_albumText, .GUIElements_albumText .content, .GUIElements_albumText .viewport, .GUIElements_albumText .scroll-pane  {
	-fx-border-width:0;
	-fx-font-size: 12px;
    -fx-text-fill: #fff;
	-fx-background-color:transparent;
	-fx-background-insets: 0, 0, 0, 0;
	-fx-border-insets: 0;
}

.GUIElements_albumText_EditMode {
	-fx-border-width:0;
	-fx-background-color:#fff;
	-fx-font-size: 12px;
    -fx-text-fill: #000;
	-fx-border-insets: 0;
	-fx-padding: 4px;
}

.TabAlbumImageList_bottomPanelForAlbums {
	-fx-padding: 2 10 2 10;
    -fx-background-color:#222;
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
}




.PagedImageList_root_pane {
    -fx-background-insets: 0;
    -fx-background-color: linear-gradient(#333 0%, #000 20%, #000 80%, #333 100%);
    -fx-padding: 10px;
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

Pagination {
	-fx-page-information-visible: false;
	-fx-tooltip-visible: false;
	-fx-max-page-indicator-count: 100;
}
 
Pagination .toggle-button, Pagination .button {
	-fx-padding: 4px 2px 4px 2px;
    -fx-font-size: 10px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0; 
	-fx-border-width:0px;
    -fx-border-insets:0;
}

Pagination .toggle-button {
	-fx-background-color:#222;
}

Pagination .button, Pagination .toggle-button:selected {
	-fx-background-color:#252;
}

Pagination .label {
	visibility: hidden;
}

Pagination .toggle-button:hover, Pagination .button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

Pagination .pagination-control, Pagination, Pagination .page, Pagination .control-box {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-color: transparent;
    -fx-padding:0px;
    -fx-border-width:0px;
    -fx-border-insets:0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;    
}

Pagination .control-box {
	-fx-padding:-11 0 -7 0px;
}
 
Pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: #000;
}

.JNekoImageDB_error_no_previews {
	-fx-padding: 2 10 2 10;
    -fx-background-color:#222;
    -fx-font-size: 12px;
    -fx-text-fill: #f44;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-font-weight:bold; 
}

.TypesListItem_label, .TypesListItem_label_left {
	-fx-padding: 0;
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-font-weight:bold; 
	
}

.TypesListItem_label_left {
	-fx-alignment: CENTER-LEFT;
}

.TypesListItem_label {
	-fx-alignment: CENTER-RIGHT;
}

.GUIElements_button_pts, .GUIElements_button_pts_add {
    -fx-padding: 0px;
    -fx-background-color: #555;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-text-fill: #fff;
}

.GUIElements_button_pts_add:hover {
    -fx-padding: 0px;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}


.TypesListItem_label_darkred {
	-fx-padding: 3px 10px 3px 10px;
    -fx-background-color: #311;
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-font-weight:bold; 
	-fx-alignment: CENTER-LEFT;
}

.TypesListItem_label_darkgreen {
	-fx-padding: 3px 10px 3px 10px;
    -fx-background-color: #131;
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-font-weight:bold; 
	-fx-alignment: CENTER-LEFT;
}

.TypesListItem_label_darkblue {
	-fx-padding: 3px 10px 3px 10px;
    -fx-background-color: #113;
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-font-weight:bold; 
	-fx-alignment: CENTER-LEFT;
}

.TypesListItem_label_darkred_small {
	-fx-padding: 3px 10px 3px 10px;
    -fx-background-color: #311;
    -fx-font-size: 10px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0; 
	-fx-alignment: CENTER-LEFT;
}

.TypesListItem_label_darkgreen_small {
	-fx-padding: 3px 10px 3px 10px;
    -fx-background-color: #131;
    -fx-font-size: 10px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0; 
	-fx-alignment: CENTER-LEFT;
}

.TypesListItem_label_darkblue_small {
	-fx-padding: 3px 10px 3px 10px;
    -fx-background-color: #113;
    -fx-font-size: 10px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0; 
	-fx-alignment: CENTER-LEFT;
}

.GUIElements_svbox_sett_container_red {
	-fx-padding: 10px;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color: #311;
}

.GUIElements_svbox_sett_container_green {
	-fx-padding: 10px;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color: #131;
}

.GUIElements_svbox_sett_container_blue {
	-fx-padding: 10px;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color: #113;
}

.GUIElements_prevsz_container {
    -fx-padding: 6px;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color: #222;
}

.GUIElements_button_prevsz_el {
    -fx-padding: 0px;
    -fx-background-color: #222;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-text-fill: #fff;
}

.GUIElements_button_prevsz_el:hover {
    -fx-padding: 0px;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.TabSettings_label_header {
	-fx-padding: 3px 10px 3px 10px;
    -fx-background-color: #555;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-font-weight:bold; 
	-fx-alignment: CENTER-LEFT;
}






.XGreenDialogWindow_label_header {
	-fx-padding: 3px 10px 3px 10px;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-font-weight:bold; 
	-fx-alignment: CENTER-LEFT;
}

.GUIElements_window_header_button {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
}

.GUIElements_window_header_button:hover {
    -fx-padding: 1px 0 0 1px;
}

.GUIElements_window_null_hbox {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.DialogWindow_color_red, .DialogWindow_color_green, .DialogWindow_color_blue, .DialogWindow_color_black {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-padding: 3px;
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.DialogWindow_color_red {
    -fx-background-color: #311;
}

.DialogWindow_color_green {
    -fx-background-color: #131;
}

.DialogWindow_color_blue {
	-fx-background-color: #113;
}

.DialogWindow_color_black {
	-fx-background-color: #000;
}


.GUIElements_window_header_hbox {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-color: transparent;
    -fx-padding: 4px;
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.GUIElements_upload_img_root {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-color: #000;
    -fx-padding: 0px;
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.XImageUpload_label_darkred {
	-fx-padding: 5px 10px 5px 10px;
    -fx-background-color: #555;
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-font-weight:bold; 
	-fx-alignment: CENTER-LEFT;
}

.TabSettings_null_gp {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}




.ETagListItem_root_box {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-padding: 0 7px 0 7px;
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

.ETagListItem_root_box_red {
	-fx-background-color: #522;
}

.ETagListItem_root_box_green {
	-fx-background-color: #252;
}

.ETagListItem_root_box_blue {
	-fx-background-color: #447;
}

.ETagListItem_root_box_blue:hover {
	-fx-background-color: #559;
}

.ETagListItem_tagname, .ETagListItem_tagname_editor {
	-fx-padding: 3px 3px 3px 7px;
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-font-weight:bold; 
	-fx-alignment: CENTER-LEFT;
	-fx-border-width:0;
    -fx-border-insets:0;
	-fx-underline: false;
}

.ETagListItem_tagname:hover {
	-fx-underline: true;
}

.GUIElements_tli_null_btn {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.GUIElements_tli_null_btn:hover {
	-fx-padding: 1px 0 0 1px;
}

.GUIElements_textfield_new_tag {
    -fx-padding: 2 2 2 2;
    -fx-background-color:#fff;
    -fx-font-weight:bold; 
    -fx-font-size: 12px;
    -fx-text-fill: #222;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 0;
	-fx-border-width:0;
    -fx-border-insets:0;
}

.STagAddInputField_root_pane {
    -fx-padding: 2 2 2 2;
    -fx-background-color:#fff;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
	-fx-border-radius: 1px;
	-fx-border-width:0;
    -fx-border-insets:0;
	-fx-border-color: #999;
}


























