.GUITools_imageName {
    -fx-font-weight:bold; 
    -fx-font-size: 16px;
    -fx-text-fill: #ddd;
}

.GUITools_header_z Label {
    -fx-text-fill: #fff;
    -fx-background-color: #000;
}

.GUITools_header_z Button {
    -fx-padding: 0px;
    -fx-background-color: #000;
    -fx-background-insets: 0, 0, 0, 0;
}

.GUITools_header_z Button:hover {
    -fx-padding: 0px;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.GUITools_root3m {
    -fx-padding: 16px;
    -fx-background-color: transparent;
}

.GUITools_root2m {
    -fx-background-color: #000;
    -fx-padding: 3px 3px 3px 3px;
}

