/* The main scrollbar **track** CSS class  */
.MenuList .scroll-bar:horizontal .track,
.MenuList .scroll-bar:vertical .track{
	-fx-background-color:#000;
	-fx-border-color:#555;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
        
}

/* The increment and decrement button CSS class of scrollbar */
.MenuList .scroll-bar:horizontal .increment-button ,
.MenuList .scroll-bar:horizontal .decrement-button {
    -fx-background-color:#000;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.MenuList .scroll-bar:vertical .increment-button ,
.MenuList .scroll-bar:vertical .decrement-button {

    -fx-background-color:#000;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.MenuList  .scroll-bar .increment-arrow,
.MenuList  .scroll-bar .decrement-arrow 
 {
	-fx-shape: " ";	
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.MenuList .scroll-bar:horizontal .thumb,
.MenuList .scroll-bar:vertical .thumb {
    -fx-background-color:#000;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}