.MenuList .scroll-bar:horizontal .track,
.MenuList .scroll-bar:vertical .track{
    -fx-background-color:#000;
    -fx-border-color:#555;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.MenuList .scroll-bar:horizontal .increment-button ,
.MenuList .scroll-bar:horizontal .decrement-button {
    -fx-background-color:#000;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.MenuList .scroll-bar:vertical .increment-button ,
.MenuList .scroll-bar:vertical .decrement-button {
    -fx-background-color:#000;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.MenuList  .scroll-bar .increment-arrow,
.MenuList  .scroll-bar .decrement-arrow {
    -fx-shape: " ";	
    -fx-padding:0;
}

.MenuList .scroll-bar:horizontal .thumb,
.MenuList .scroll-bar:vertical .thumb {
    -fx-background-color:#000;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.MenuList, .MenuList .viewport {
    -fx-background-color:#000;
    -fx-background-radius: 0;
    -fx-padding:0;
    -fx-background-insets:0;
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-border-color:#000;
}

.MenuList_pane, .MenuList_pane .viewport {
    -fx-background-color:#000;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 4px;
    -fx-background-insets:0;
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-border-color:#000;
}