.appnamez {
    -fx-font-weight:bold; 
    -fx-font-size: 16px;
    -fx-text-fill: #ddd;
}

.basevbox {
    -fx-padding: 2px;
}

.header_z Label {
    -fx-text-fill: #fff;
    -fx-background-color: #000;
}

.header_z Button {
    -fx-padding: 0px;
    -fx-background-color: #000;
    -fx-background-insets: 0, 0, 0, 0;
}

.header_z Button:hover {
    -fx-padding: 0px;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.border_a {
    -fx-padding: 16px;
    -fx-background-color: transparent;
    //-fx-background-radius: 6;
}

.border_z {
    -fx-background-color: #000;
    -fx-padding: 3px 3px 3px 3px;
    //-fx-background-radius: 6;
    //-fx-background-insets: 12;
}

.topPanel {
    -fx-background-color: #000; //#331111; //#222;
    //-fx-background-radius: 4;
    -fx-padding: 0px;
}

.PagCountLabel {
    -fx-background-color: #333; //#222;
    -fx-text-fill: #fff;
    //-fx-background-radius: 4;
    -fx-font-weight:bold; 
}

.ImgButtonGR {
    -fx-padding: 0px;
    -fx-background-color: #333; //#184818;
    -fx-background-radius: 0;// 0 4 4 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-font-weight:bold; 
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
}

.ImgButtonG {
    -fx-padding: 0px;
    -fx-background-color: #333; //#184818;
    -fx-background-radius: 0;// 4 0 0 4;
    -fx-background-insets: 0, 0, 0, 0;
}

.ImgButtonR {
    -fx-padding: 0px;
    -fx-background-color: #333; //#481818;
    -fx-background-radius: 0;// 0 4 4 0;
    -fx-background-insets: 0, 0, 0, 0;
}

.ImgButtonR2 {
    -fx-padding: 0px;
    -fx-background-color: #333; //#481818;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
}

.ImgButtonB {
    -fx-padding: 0px;
    -fx-background-color: #333; //#184818;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
}

.ImgButtonR:hover, .ImgButtonG:hover, .ImgButtonB:hover, .ImgButtonGR:hover, .ImgButtonR2:hover {
    -fx-padding: 0px;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.ImgButtonR:pressed, .ImgButtonG:pressed, .ImgButtonB:pressed, .ImgButtonGR:pressed, .ImgButtonR2:pressed {
    -fx-padding: 0px;
    -fx-background-color: #ff9;
    -fx-text-fill: #000;
}

.PagPanel {
    -fx-padding: 0 0 0 0;
}

.DYesButton {
    -fx-padding: 0px;
    -fx-background-color: #184818;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-font-weight:bold; 
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
}

.DNoButton {
    -fx-padding: 0px;
    -fx-background-color: #481818;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-font-weight:bold; 
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
}

.DMessageStr, .DMessageStr .content, .DMessageStr .viewport, .DMessageStr .scroll-pane   {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-color:#322;
    -fx-padding: 0 0 0 0;
    -fx-font-weight:bold; 
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
}

.DMessageStr {
    -fx-padding: 5 0 0 7;
    -fx-border-width: 1 4 1 20;
    -fx-border-insets:0;
    -fx-border-radius: 0;
    -fx-border-color:#700;
}

.ImageList {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color:transparent;
    //-fx-background-color: linear-gradient(#333 0%, #000 20%, #000 80%, #333 100%);
}

.ImageList:focused {
    -fx-background-insets: 0;
}

.ImageList .corner {
    -fx-background-insets: 0;
}

.ImageList .viewport {
    -fx-background-insets: 0;
    -fx-background-color: linear-gradient(#333 0%, #000 20%, #000 80%, #333 100%);
}

.ImageList .scroll-bar:horizontal .track,
.ImageList .scroll-bar:vertical .track{
	-fx-background-color:#333;
	-fx-border-color:#555;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
        
}

/* The increment and decrement button CSS class of scrollbar */
.ImageList .scroll-bar:horizontal .increment-button ,
.ImageList .scroll-bar:horizontal .decrement-button {
    -fx-background-color:#000;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.ImageList .scroll-bar:vertical .increment-button ,
.ImageList .scroll-bar:vertical .decrement-button {

    -fx-background-color:#000;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.ImageList  .scroll-bar .increment-arrow,
.ImageList  .scroll-bar .decrement-arrow 
 {
	-fx-shape: " ";	
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.ImageList .scroll-bar:horizontal .thumb,
.ImageList .scroll-bar:vertical .thumb {
    -fx-background-color:#000;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

.mainContainer {
    -fx-padding:0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0;
    -fx-background-color:transparent;
}



/*.SEC_Label_system {
    -fx-padding: 0 0 0 12;
    -fx-background-color:transparent;
    -fx-font-weight:bold; 
    -fx-font-size: 12px;
    -fx-text-fill: #f70;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-underline: false;
    -fx-border-width:0;
}

.SEC_Label_editable {
    -fx-padding: 0 0 0 12;
    -fx-background-color:#fff;
    -fx-font-weight:bold; 
    -fx-font-size: 12px;
    -fx-text-fill: #000;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-underline: false;
    -fx-border-width:0;
}*/

/*.SEC_Label:hover {
    -fx-underline: true;
    -fx-text-fill: #ff0;
}*/

/*.SCheckBox {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-color:#222;
    -fx-padding: 0;
    -fx-border-width:1;
    -fx-border-insets:0;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-border-color:#777;
}*/

/*.SSaveBox {
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}*/

/*.ASDElementHBox {
    -fx-background-color: #222;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #555;
    -fx-padding: 6px;
    -fx-border-insets: 0;
}

.ASDElementHBox:hover {
    -fx-background-color: #444;
}*/

/*.newItemName {
    -fx-padding: 4px;
    -fx-border-insets: 0;
    -fx-border-color: #777;
    -fx-background-color: #fff;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-width: 1px;
    -fx-text-fill: #000;
    -fx-font-weight:bold; 
    -fx-font-size: 14px;
}

.newItemName .viewport {
    -fx-background-insets: 0;
}*/

/*.newTitle {
    -fx-padding: 0 0 0 12;
    -fx-background-color:transparent;
    -fx-font-weight:bold; 
    -fx-font-size: 12px;
    -fx-text-fill: #ccc;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-underline:false;
}*/